.form-left {
    width: 59.6%;
    padding-right: 20px;
    float: left;
}
.adresse-right {
    width: 40.4%;
    width: calc(100% - 59.6%);
    float: left;
	  
}
.adresse-right blockquote{
	  background: #e7e7e8;
	      padding: 31px 23px;
		   font-style: inherit;
}
.adresse-right blockquote p{
font-size: 21px;
    color: #000;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: regular;
    margin-bottom: 27px;
   
    line-height: 24px;
}
.adresse-right blockquote p:last-child span{
	 letter-spacing: -0.2px; 
}
.form-left .fontstyle0, .adresse-right h4 {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: normal;
    color: #e17f33;
    line-height: 22px;
    border-bottom: 10px solid #ef7c00;
    padding-bottom: 26px;
    margin-bottom: 35px;
    display: block;
}
.content-area-contact .form-left .wpcf7-form-control-wrap {
    margin-bottom: 19px;
    display: block;
}
.content-area-contact .form-left .wpcf7-form-control-wrap.telefon, .content-area-contact .form-left .wpcf7-form-control-wrap.telefon{
	margin-bottom:19px;
}
.content-area-contact .form-left .wpcf7-form-control-wrap.textarea-606{
	    margin-bottom: 22px;
	
	margin-top: 25px;
}
.content-area-contact .form-left .wpcf7-form-control-wrap.email{
	margin-top: 22px;
}
.content-area-contact .form-left p{
	margin-bottom:19px;
}
.content-area-contact .form-left p input{
	height:30px;
}
.content-area-contact .form-left p  input, .content-area-contact .form-left p textarea {
    border: 1px solid #808285;
    border-radius: 0;
    background-color: #fff;
    font-family: "Roboto";
    font-size: 13px;
    color: #808285;
    margin-bottom: 0px;
    resize: none;
    padding: 5px 9px 4px 8px;
    font-weight: normal;
    line-height: 20px;
}
/* .content-area-contact .form-left .email-610 input{
	line-height:22px;
}*/
.content-area-contact .form-left .tel-169 input {
	line-height:18px;
} 
.content-area-contact .form-left p textarea {
margin-top: 4px;
    padding: 11px 9px 2px 8px;
    height: 198px;
}
.content-area-contact .site-main .entry-content {
    border-top: none;
        padding: 40px 0px 113px;
		background:#fff;
}
.form-left .captchac-kontakt {
    float: left;
}
.form-left .ch-captcha-input-container.wpcf7-form-control-wrap.ch_captcha-787{
    display: inline-block;
    vertical-align: top;
    width: 340px;
}
.content-area-contact .form-left .captcha-kontakt .wpcf7-captcha-ch_captcha-787{
 padding: 8px 8px 6px 8px;
    font-size: 13px;
    color: #808285;
    font-family: "Roboto";
    font-weight: normal;
	    height: 44px;
border: 1px solid #808285;
}
body:not(.home) .site-content .content-area-contact{
	    padding: 68px 0 73px;
}
.content-area-contact  input[type="text"]{
		border-radius:0;
}
.form-left .ch_captcha-787-img {
    width: 104px;
    display: inline-block;
    margin-right: 12px;
    padding: 0;
    border: 0;
}
.content-area-contact .site-main .entry-content {
    padding-bottom: 76px;
}
.content-area-contact .form-left input[type="submit"] {
    background: #e17f33;
    border: none;
    border-radius: 0;
    color: #fff;
    text-transform: none;
    margin-left: 8px;
    vertical-align: top;
    padding: 12px 14px;
    float: left;
    letter-spacing: normal;
    display: inline-block;
    float: left;
	height:44px;
}
span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 13px;
    display: block;
    padding-top: 2px;
}
body:not(.home) .site-main .entry-content-contact {
    padding-bottom: 73px;
}
.bottom-map.posts-content .map-content h4{
	    padding-bottom: 23px;
    margin-bottom: 0px;
	color:#f58220;
	 font-family: "Roboto";
	 border-bottom: 10px solid #ef7c00;
	     font-weight: bold;
}
div.wpcf7-response-output {
    margin: 54px 0;
    padding: 15px 10px;
}
@media (max-width: 970px) and (min-width: 819px) {
	.form-left .ch-captcha-input-container.wpcf7-form-control-wrap.ch_captcha-787 {
    width: 250px;
	}
	.adresse-right blockquote p {
		font-size: 19px;
	}
}
@media (max-width: 818px) and (min-width: 768px) {
	.form-left .ch-captcha-input-container.wpcf7-form-control-wrap.ch_captcha-787 {
		width: 219px;
	}
	.adresse-right blockquote p {
		font-size: 17px;
	}
}
@media (max-width: 767px) and (min-width: 571px) {
	.form-left {
    width:100%;
    padding-right: 0px;
    float: left;
	margin-bottom:20px;
	}
	.adresse-right {
		width:100%;
		float: left;
		  
	}
	.content-area-contact .form-left .wpcf7-form input[type="submit"]{
		margin-left:8px !important;
	}
	.form-left .ch-captcha-input-container.wpcf7-form-control-wrap.ch_captcha-787 {
		width: 340px;
	}
	.adresse-right blockquote p {
		font-size: 21px;
	}
	body:not(.home) .site-content .content-area-contact {
		 padding: 20px 0 0px; 
	}
	.content-area-contact .site-main .entry-content {
		padding:0;
	}
	.page-template-contact-page .site-content{
		padding-bottom:40px;
	}
}
@media (max-width: 570px) and (min-width: 481px){
	.form-left .ch-captcha-input-container.wpcf7-form-control-wrap.ch_captcha-787 {
    width: 250px;
	}
	.content-area-contact .form-left .wpcf7-form input[type="submit"]{
		margin-left:8px !important;
	}
	.form-left {
		width:100%;
		padding-right: 0px;
		float: left;
		margin-bottom:20px;
	}
	.adresse-right {
		width:100%;
		float: left;
		  
	}
}
@media (max-width: 480px){
	.form-left .ch-captcha-input-container.wpcf7-form-control-wrap.ch_captcha-787 {
		width: 250px;
		margin: 0px 0 20px 0;
	}
	.form-left {
		width:100%;
		padding-right: 0px;
		float: left;
		margin-bottom:20px;
	}
	.adresse-right {
		width:100%;
		float: left;
		  
	}
	.form-left .ch_captcha-787-img{
		margin-bottom:20px;
	}
	.adresse-right blockquote p {
		font-size: 17px;
	}

	.content-area-contact div.wpcf7-response-output {
		margin: 20px 0;
		padding: 15px 10px;
		display:inline-block !important;
	}
}
@media (max-width: 348px){
	.form-left .ch-captcha-input-container.wpcf7-form-control-wrap.ch_captcha-787 {
    width: 100%;
    margin-bottom: 20px ;
	}
	.content-area-contact .form-left input[type="submit"]{
		margin-left:0px;
	}
	.adresse-right blockquote p {
		font-size: 17px;
	}
}
